@import '../../styles.scss';

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    margin: 2.5rem auto;

    h2 {
        margin-bottom: 1.5rem;
        font-size: 3rem;
        font-family: 'Playfair Display', serif;
    }

    .about {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .about_content {
            display: flex;
            gap: 5rem;

            img {
                max-width: 400px;
                width: 100%;
                border-radius: 32px;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 1.5rem;

                h3 {
                    font-size: 2rem;
                    text-align: left;
                }

                p {
                    text-align: left;
                    font-size: 1.5rem;
                    line-height: 1.4;
                }

                button {
                    font-size: 1.8rem;
                    color: $yellow100;
                    background-color: transparent;
                }
            }
        }
    }

    .services {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            max-width: 1400px;
            width: 100%;

            .card {
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 32px;
                box-shadow: 0 10px 10px $black10;
                margin: 1rem;
                padding: 1.5rem;

                .card_image {
                    background-color: $yellow50;
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1rem;

                    i {
                        font-size: 1.5rem;
                        color: $yellow100;
                    }
                }

                strong {
                    font-size: 1.2rem;
                    font-family: 'Playfair Display', serif;
                }

                p {
                    text-align: center;
                    font-size: 0.8rem;
                    line-height: 1.4;
                    text-wrap: wrap;
                    margin-top: 1rem;
                }

                p:last-of-type {
                    color: $yellow100;
                    font-weight: bold;
                    margin-top: 1rem;
                }
            }
        }
    }

    .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;    

        .card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 1rem;

            img {
                height: 500px;
                width: 100%;
                border-radius: 32px;
            }

            strong {
                margin-top: 1rem;
                font-size: 1.5rem;
                text-align: left;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    .testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;

        .card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            padding: 1.5rem;
            max-width: 400px;
            width: 100%;
            background-color: white;
            border-radius: 32px;
            box-shadow: 0 10px 10px $black10;
            margin: 1rem;

            .customer {
                display: flex;
                gap: 1rem;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            text-align: center;
            line-height: 1.4;
            font-size: 1.5rem;
            max-width: 600px;
        }

        button {
            border-radius: 50px;
            padding: 16px 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            font-size: 1.2rem;
            margin: 2rem 0;
            background-color: $green80;
            color: $white100;
            box-shadow: 0 10px 10px $black10;
        }
    }
}