<header class="header">
    <a class="logo">
        Yasmim Faria - Estética Avançada
    </a>
    <nav aria-label="Menu Principal" class="menu">
        <ul class="menu_items">
            <li>
                <a href="#about" class="active">
                    <span class="menu_text">Sobre</span>
                    <i class="menu_icon fa-brands fa-readme"></i>
                </a>
            </li>
            <li>
                <a href="#services">
                    <span class="menu_text">Serviços</span>
                    <i class="menu_icon fa-brands fa-readme"></i>
                </a>
            </li>
            <li>
                <a href="#portfolio">
                    <span class="menu_text">Portfolio</span>
                    <i class="menu_icon fa-brands fa-readme"></i>
                </a>
            </li>
            <li>
                <a href="#contact">
                    <span class="menu_text">Contato</span>
                    <i class="menu_icon fa-brands fa-readme"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>