<header class="header">
    <a class="logo">
        Yasmim Faria - Estética Avançada
    </a>
    <nav aria-label="Menu Principal" class="menu">
        <ul class="menu_items">
            <li>
                <a href="#about" fragment="about" routerLinkActive="active">
                    <span class="menu_text">Sobre</span>
                </a>
            </li>
            <li>
                <a href="#services" fragment="services" routerLinkActive="active">
                    <span class="menu_text">Serviços</span>
                </a>
            </li>
            <li>
                <a href="#portfolio">
                    <span class="menu_text">Portfolio</span>
                </a>
            </li>
            <li>
                <a href="#contact" fragment="contact" routerLinkActive="active">
                    <span class="menu_text">Contato</span>
                </a>
            </li>
        </ul>
    </nav>
</header>