@import '../../styles.scss';

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;

    p {
        text-align: center;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-family: Arial;

        @include respond(xs){
            font-size: 0.8rem;
        }
    }

    div {
        display: flex;
        max-width: 1200px;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        a {
            max-width: 2rem;
            width: 100%;
        }
        
        i {
            font-size: 2rem;
            display: inline-block;
            max-width: 2rem;
            width: 100%;
            text-align: center;
            color: black;
            font-display: swap;
        }

        a {
            transition: all 0.2s;
        }

        a:hover {
            opacity: 0.5;
        }
    }
}