<footer>
    <div>
        <a href="https://www.facebook.com/yasmiimfaria" target="_blank"  aria-label="Facebook da Estética Yasmim Faria">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/estetica_yasmimfaria" target="_blank"  aria-label="Instagram da Estética Yasmim Faria">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
    <p>Rua Nícola Pieve, 635 - Bairro Santa Edwirges, Três Pontas - MG</p>
    <p>(35)9 9246-8053 | yasmimfestetica@gmail.com</p>
    <p>&copy; 2025 Estética Avançada. Todos os Direitos Reservados.</p>
</footer>