/* You can add global styles to this file, and also import other style files */
$primary_font: 'Inter', Arial, sans-serif;

$black100: #000000;
$black80: #010101;
$black10: #00000040;

$white80: #E1E1E1;
$white90: #F1F1F1;
$white100: #FFFFFF;

$yellow100: #d4af37;
$yellow50: #f6edcf;
$yellow20: #fffdf5;

$green80: #22c55e;

$breakpoints: (
  xxs: 400px,
  xs: 480px,
  sm: 640px,
  md: 800px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1536px
);

@mixin respond($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}
